<% include layoutTop %>

<div class="ui-top-bar">    
    <div class="ui-tab page4 js-active">
        <a class="f-left my-top-bar" data-toggle="tab" data-target=".goto-page1" role="button">
            <span class="ui-icon ion-ios7-arrow-back"></span>
            <span class="ui-label">返回</span>
        </a>
        <a class="f-right my-top-bar" data-toggle="tab" data-target=".goto-page2" role="button">
            <span class="ui-label">购物车<span id="topbar-cart-reddot" class="ui-right ui-red-dot" style="display:none"></span></span>
        </a>       
    </div>
</div>

<div class="ui-bottom-bar js-no-bounce bottom-bar-details" role="toolbar" id="bottom-bar-detail"  > <!-- tabindex="0" 在android上会触发一个高亮边框 -->
    <!-- 尾部内容 商品详情页面底部 -->
    <div class="join">
        <span class="join-m" role="button" data-toggle="dialog" data-target="#myNotify" data-type="notify" data-effect="from-top" data-cache="false" id="detail_add_cart">加入购物车</span>
        <span class="j-change" id="detail_changeNum0">-</span>
        <span class="j-num" id="detail_num"><%= num %></span>
        <span class="j-change" id="detail_changeNum1">+</span>
        <span class="join-m" id="detail_shop_now">立即购买</span>
    </div>    
    <!-- /尾部内容-->
</div>

<div class="ui-page jiu-page-detail js-active">
    <div class="ui-page-content">
        <div class="ui-carousel js-slide" data-ride="carousel">
            <ol class="ui-carousel-indicators">
                <li class="js-active"></li>
                <% for(var i=0;i<bigPics.length-1;i++){ %>
                <li></li>
                <% } %>
            </ol>
            <div class="ui-carousel-inner">
                <div class="ui-carousel-item js-active">
                    <img width="100%" src="<%= bigPics[0] %>">
                </div>                
                <% for(var i=1;i<bigPics.length;i++){ %>
                <div class="ui-carousel-item">
                    <img width="100%" src="<%= bigPics[i] %>">
                </div>
                <% } %>
            </div>
        </div>
        <p class="banner-text"><%= describe %></p>
        <div class="peisong">
            <div class="peisong-li">
                <span class="peisong-l">微信会员价：</span>
                <div class="peisong-r">
                    <p><span class="peisong-price" data-price='<%= wechatPrice %>'>￥<%= wechatPrice %></span><span class="jiesheng">节省￥<%= marketPrice-wechatPrice %></span></p>
                    <p class="market-p">市场价：￥<%= marketPrice %></p>
                </div>
            </div>
            <div class="peisong-li">
                <span class="peisong-l">配送方式：</span>
                <div class="peisong-r">
                    <p><span class="peisong-h">阜阳市区内免费2小时内送到</span></p>
                    <p class="peisong-h">其他地区快递免费</p>
                </div>
            </div>
        </div> 
        <p class="item-detail">商品详情</p>
        <div class="item-msg">
            <p><span>品牌：</span><span>口子窖</span></p>
            <p><span>产地：</span><span>安徽</span></p>
            <p><span>品牌：</span><span>口子窖</span></p>
            <p><span>产地：</span><span>安徽</span></p>
            <p><span>品牌：</span><span>口子窖</span></p>
            <p><span>产地：</span><span>安徽</span></p>
            <p><span>品牌：</span><span>口子窖</span></p>
            <p><span>产地：</span><span>安徽</span></p>                                    
        </div>
    </div>
</div>

<!-- 对话类内容: 属于App级别，应在App节点下 -->

<div id="myNotify" data-backdrop=false data-expires=2000 role="dialog" class="ui-dialog" aria-labelledby="myNotifyLable" aria-hidden="true">
    <div class="js-dialog-content ui-notify">
        <p id="myNotifyLable">已加入购物车:)</p>
    </div>
</div>

<div id="myLoading" data-backdrop=false role="dialog" class="ui-dialog" aria-labelledby="myNotifyLable" aria-hidden="true">
    <div class="js-dialog-content ui-notify">
        <a data-dismiss="dialog" class="ui-pop-cancel">取消</a>
    </div>
</div>

<div id="myAlert" role="alertdialog"  class="ui-dialog" aria-labelledby="myAlertLable" aria-hidden="true">
    <div class="js-dialog-content ui-alert">
        <div class="ui-alert-header"><h3 class="ui-alert-title" id="myAlertLable">Title</h3></div>
        <div class="ui-alert-body" role="note"><p>This is a message.</p></div>
        <div class="ui-alert-footer">
            <!-- 尽量避免使用 button 元素，在小米上是会有点击高亮边框 -->
            <a data-dismiss="dialog" role="button" class="ui-alert-button">确定</a>
            <a data-dismiss="dialog" role="button" class="ui-alert-button">取消</a>
        </div>
    </div>
</div>

<div id="myActionsheet" role="dialog" class="ui-dialog" aria-labelledby="myActionsheetLable" aria-hidden="true">
    <div class="js-dialog-content ui-actionsheet">
        <ul>
            <li role="button" data-dismiss="dialog">删除</li>
            <li role="button" data-dismiss="dialog">发送</li>
        </ul>
        <a role="button" data-dismiss="dialog" class="ui-actionsheet-cancel">取消</a>
    </div>
</div>

<!-- /对话类内容 -->
<script type="text/javascript">
    var code = "<%= code %>" ;
    var price = <%= wechatPrice %> ;
</script>
<script data-main="js/details" src="js/require.js">

</script>

<% include layoutBottom %>