<% include layoutTop %>

<div class="ui-top-bar">
    <div class="ui-tab page1  <%= r=='home' ? 'js-active':'' %>">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page1-tab1" aria-controls="tab1" role="tab">推荐</li>
            <li class="ui-button" data-toggle="tab" data-target="#page1-tab2" aria-controls="tab2" role="tab">白酒</li>
            <li class="ui-button" data-toggle="tab" data-target="#page1-tab3" aria-controls="tab3" role="tab">红酒</li>
<!--             <li class="ui-button" data-toggle="tab" data-target="#page1-tab2" aria-controls="tab4" role="tab">啤酒</li> -->
        </ul>
    </div>
    <div class="ui-tab page2 <%= r=='shopcart' ? 'js-active':'' %>">
        <span class="top-bar-title">购物车</span>
    </div>
    <div class="ui-tab page3 <%= r=='info' ? 'js-active':'' %>">
        <ul class="ui-groupbutton" role="tablist">
            <li class="ui-button js-active" data-toggle="tab" data-target="#page3-tab1" aria-controls="tab1" role="tab">订单</li>
            <li class="ui-button" data-toggle="tab" data-target="#page3-tab2" aria-controls="tab2" role="tab">券</li>
            <li class="ui-button" data-toggle="tab" data-target="#page3-tab3" aria-controls="tab3" role="tab">地址</li>
<!--             <li class="ui-button" data-toggle="tab" data-target="#page3-tab4" aria-controls="tab4" role="tab">我</li> -->
        </ul>
    </div>
    <div class="ui-tab page4">
            <a class="f-left my-top-bar" data-toggle="mytab" data-target=".page2" role="tab">
                <span class="ui-icon ion-ios7-arrow-back"></span>
                <span class="ui-label">购物车</span>
            </a>
    </div>
    <div class="ui-tab page5">
        <a class="f-left my-top-bar" data-toggle="mytab" data-target=".page3" role="tab">
            <span class="ui-icon ion-ios7-arrow-back"></span>
            <span class="ui-label">返回</span>
        </a>
    </div>
</div>

<div class="ui-bottom-bar js-no-bounce" role="toolbar"> <!-- tabindex="0" 在android上会触发一个高亮边框 -->
    <!-- 尾部内容 -->
    <a class="ui-bottom-bar-button  <%= r=='home' ? 'js-active':'' %> goto-page1" role="button" data-toggle="tab" data-target=".page1">
        <span class="ui-icon ion-ios7-home-outline"></span>
        <span class="ui-label">首页</span>
    </a>
    <a class="ui-bottom-bar-button <%= r=='shopcart' ? 'js-active':'' %> go-to-page2" role="button" data-toggle="tab" data-target=".page2">
        <span class="ui-icon ion-ios7-cart-outline"></span>
        <span class="ui-label">购物车</span>
    </a>
    <a class="ui-bottom-bar-button <%= r=='info' ? 'js-active':'' %>" role="button" data-toggle="tab" data-target=".page3">
        <span class="ui-icon ion-ios7-person-outline"></span>
        <span class="ui-label">我的</span>
    </a>
    <!-- /尾部内容-->
</div>


<!-- 一个App可以多个page -->
<div class="ui-page page1 <%= r=='home' ? 'js-active':'' %>">

    <div class="ui-page-content">
        <!-- 主体内容 -->
        <div class="ui-tab js-active" id="page1-tab1" role="tabpanel">

            <div class="page1-tab1-bot">
                <p class="tab-info">今日推荐</p>
                <ul class="item-wrapper">
                    <% for(var i=0;i<recommendList.length;i++){ %>
                    <a class="item" href="/details?code=<%= recommendList[i].Code %>" data-code= <%= recommendList[i].Code %> >
                        <div class="item-inner">
                            <img data-lazy= <%= recommendList[i].LittlePic %> alt="">
                            <span class="name"><%= recommendList[i].name %></span>
                            <span class="market-sale">市场价：<%= recommendList[i].MarketPrice %></span>
                            <span class="wx-sale">微信价：<%= recommendList[i].WechatPrice %></span>
                        </div>
                    </a>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="ui-tab" id="page1-tab2" role="tabpanel">
           <!-- 白酒 -->
            <div class="page1-tab1-bot">
                <p class="tab-info">全部白酒</p>
                <ul class="item-wrapper">
                    <% for(var i=0;i<baijiu.length;i++){ %>
                    <a class="item" href="/details?code=<%= baijiu[i].Code %>" data-code= <%= baijiu[i].Code %> >
                        <div class="item-inner">
                            <img data-lazy= <%= baijiu[i].LittlePic %> alt="">
                            <span class="name"><%= baijiu[i].name %></span>
                            <span class="market-sale">市场价：<%= baijiu[i].MarketPrice %></span>
                            <span class="wx-sale">微信价：<%= baijiu[i].WechatPrice %></span>
                        </div>
                    </a>
                    <% } %>
                </ul>
            </div>
        </div>

        <div class="ui-tab" id="page1-tab3" role="tabpanel">
           <!-- 红酒 -->
            <div class="page1-tab1-bot">
                <p class="tab-info">全部红酒</p>
                <ul class="item-wrapper">
                    <% for(var i=0;i<hongjiu.length;i++){ %>
                    <a class="item" href="/details?code=<%= hongjiu[i].Code %>" data-code= <%= hongjiu[i].Code %> >
                        <div class="item-inner">
                            <img data-lazy= <%= hongjiu[i].LittlePic %> alt="">
                            <span class="name"><%= hongjiu[i].name %></span>
                            <span class="market-sale">市场价：<%= hongjiu[i].MarketPrice %></span>
                            <span class="wx-sale">微信价：<%= hongjiu[i].WechatPrice %></span>
                        </div>
                    </a>
                    <% } %>
                </ul>
            </div>           
        </div>

        <div class="ui-tab" id="page1-tab2" role="tabpanel">
           <!-- 啤酒 -->
        </div>
        <!-- /主体内容-->
    </div>
</div>

<div class="ui-page page2 <%= r=='shopcart' ? 'js-active':'' %>">
    <div class="ui-page-content">

        <div class="ui-tab js-active" id="page2-tab1" role="tabpanel">
            <div class="page2-tab2-top" id="order-list-container" style="display:none">
                <p class="tab-info confirm">待确认</p>

                <ul class="jiu-li">
                    <li class="template" style="display:table" data-toggle="dialog" data-target="#changeCartActionsheet" data-type="actionsheet" data-effect="from-bottom" data-cache="false">
                        <img src="" alt="">
                        <div class="jiu-info">
                            <p class="jiu-detail"></p>
                            <p class="jiu-price">单价: ￥<span class="order-list-price"></span>&nbsp数量：<span class="order-list-num"></span></p>
                        </div>
                        <span class="list-right-forward vertical-middle ui-icon ion-ios7-arrow-forward" style="display:table-cell;vertical-align:middle"></span>
                    </li>
                </ul>
            </div>
            <div class="page2-tab2-bot" id="order-confirm-container" style="display:none">
                <div class="cart-ticket">
                    <p class="f-left">本次使用用现金券￥<span id="cart-ticket-use">0</span></p>
                    <span class="f-right">剩余现金券￥<span id="cart-ticket-left">0</span></span>
                </div>
                <p class="all-r">费用合计：￥<span id="cart_total_cost">0</span></p>
                <button class="ui-button ui-info confirm-btn" data-toggle="mytab" data-target=".page4" aria-controls="tab2" id="cart_confirm">确认订单</button>
            </div>
            <div class="page2-tab2-bot order-load-info">
                <p>正在努力加载购物车…</p>
            </div>
        </div>

    </div>
</div>

<div class="ui-page page3 <%= r=='info' ? 'js-active':'' %>">
    <div class="ui-page-content">
        <!-- 订单 -->
        <div class="ui-tab js-active" id="page3-tab1" role="tabpanel">
            <div class="order-processing template" style="display:none">
                <p class="tab-info confirm">订单编号：<span class="order-id">f201400332299</span>
                    <span class="f-right"><span class="order-state">配送中</span></span>
                </p>
                <p class="tab-info confirm">
                    <span class="f-left">下单时间：<span class="order-time"></span></span>
                </p>
                <ul class="jiu-li">
                    <li class="jiu-single" style="display:table" >
                        <img src="" alt="">
                        <div class="jiu-info">
                            <p class="jiu-detail">41度口子窖</p>
                            <p class="jiu-price">单价: ￥<span class="order-list-price">128</span>&nbsp数量：<span class="order-list-num">10</span></p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="order-complete template" style="dispaly:none">
                <p class="tab-info confirm">订单编号：<span class="order-id">f201400332299</span>
                    <span class="f-right"><span class="order-state">已完成</span></span>
                </p>
                <p class="tab-info confirm">
                    <span class="f-left">下单时间：<span class="order-time"></span></span>
                </p>                
                <ul class="jiu-li">
                    <li class="jiu-single" style="display:table" >
                        <img src="" alt="">
                        <div class="jiu-info">
                            <p class="jiu-detail">41度口子窖</p>
                            <p class="jiu-price">单价: ￥<span class="order-list-price">128</span>&nbsp数量：<span class="order-list-num">10</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="ui-tab" id="page3-tab2" role="tabpanel">

            <div class="page3-tab2-top">
                 <!-- 券 -->
                <p class="quan-title quan-title-f">现金券</p>
                <div class="quan-wrapper quan-xian">
                    <div class="quan">
                        <span class="quan-num" id="my_cash_num" data-from="0" data-to="0">0</span>
                        <span class="quan-yuan">元</span>
                        <button class="ui-button ui-info" data-toggle="dialog" data-target="#myAlert" data-type="alert"  data-effect="from-below">申请提现</button>
                        <a class="quan-link" href="/promote">推荐给好友获得更多现金券>></a>
                    </div>
                </div>
            </div>
<!--             <div class="page3-tab2-bot">
                <p class="quan-title">代金券</p>
                <div class="quan-wrapper quan-dai">
                    <div class="quan">
                        <span class="quan-num" id="countup" data-from="0" data-to="342">342</span>
                        <span class="quan-yuan">元</span>
                        <a class="quan-link" href="#">查看如何获取更多代金券>></a>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="ui-tab" id="page3-tab3" role="tabpanel">
            <!-- 地址 -->
            <p class="tab-info">用过的地址</p>
            <ul class="j-address my-address-list">
                <li class="j-single j-address-item-template display-table" style="display:none"  data-toggle="dialog" data-target="#addressActionsheet" data-type="actionsheet" data-effect="from-bottom" data-cache="false">
                    <div class="j-info">
                        <p class="j-detail"><span class="j-province"></span><span class="j-shi"></span><span class="j-qu"></span><span class="j-lu"></span></p>
                        <br>
                        <p class="j-detail"><span class='j-name'></span><span class="j-tel"></span></p>
                    </div>
                    <span class="list-right-forward vertical-middle ui-icon ion-ios7-arrow-forward" style="display:table-cell;vertical-align:middle"></span>
                </li>
                <li class="j-single j-add display-table" data-toggle="mytab" data-target=".page5" data-from=".page3">
                    <div class="j-info">
                        <p>添加地址>></p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<div class="ui-page page4">
    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page4-tab1" role="tabpanel">
            <!-- 地址 -->
            <p class="tab-info">配送地址</p>
            <ul class="j-address cart-address-list">
                <!-- 选择的地址 -->
                <li class="j-single j-address-item-template" style="display:none">
                    <div class="j-info">
                        <p class="j-detail"><span class="j-province"></span><span class="j-shi"></span><span class="j-qu"></span><span class="j-lu"></span></p>
                        <br>
                        <p class="j-detail"><span class='j-name'></span><span class="j-tel"></span></p>
                    </div>
                    <label for="" class="makesure"></label>
                </li>
                <li class="j-single j-add" data-toggle="mytab" data-target=".page5" data-from=".page4">
                    <div class="j-info">
                        <p>添加地址>></p>
                    </div>
                    <!-- <label class="to-right" for="">></label> -->
                </li>
            </ul>
            <!-- <button class="ui-button ui-info confirm-btn btn-top">微信支付</button> -->
            <button class="ui-button ui-success confirm-btn btn-bot" data-toggle="myDialogAlert" data-type="alert"  data-effect="from-below" id="complete_cash_pay">货到付款</button>
        </div>

    </div>
</div>

<div class="ui-page page5">
    <div class="ui-page-content">
        <div class="ui-tab js-active" id="page5-tab1">
            <!-- 添加地址 -->
            <div class="city-distinct">
                <span class="auto_city_distinct">安徽省 阜阳市 </span>
                <select id="distinct_list" class="addr-form">
                    <option>颍州区</option>
                    <option>颍东区</option>
                    <option>颍泉区</option>
                </select>
            </div>

            <input class="address-input addr-form" maxlength="30" id="addr-detail-input" placeholder="街道地址">
            <input class="address-input addr-form" maxlength="10" id="addr-name-input" placeholder="姓名"></input>
            <input class="address-input addr-form" maxlength="15" id="addr-tel-input" placeholder="手机"></input>

            <button role="button" class="ui-button ui-block address-btn-ok">填好了</a>
        </div>
    </div>
</div>

<!-- 对话类内容: 属于App级别，应在App节点下 -->

<div id="myNotify" data-backdrop=false data-expires=2000 role="dialog" class="ui-dialog" aria-labelledby="myNotifyLable" aria-hidden="true">
    <div class="js-dialog-content ui-notify">
        <p id="myNotifyLable">城市定位失败</p>
    </div>
</div>

<div id="myLoading" data-backdrop=false role="dialog" class="ui-dialog" aria-labelledby="myNotifyLable" aria-hidden="true">
    <div class="js-dialog-content ui-notify">
        <a data-dismiss="dialog" class="ui-pop-cancel">取消</a>
    </div>
</div>

<div id="myAlert" role="alertdialog"  class="ui-dialog" aria-labelledby="myAlertLable" aria-hidden="true">
    <div class="js-dialog-content ui-alert">
        <div class="ui-alert-header"><h3 class="ui-alert-title">申请提现</h3></div>
        <div class="ui-alert-body" role="note"><p>返回公众号，点击“现金券”菜单，按照操作来申请提现</p></div>
        <div class="ui-alert-footer">
            <!-- 尽量避免使用 button 元素，在小米上是会有点击高亮边框 -->
            <a data-dismiss="dialog" role="button" class="ui-alert-button">确定</a>
        </div>
    </div>
</div>

<div class="dialogTemplate ui-dialog" role="alertdialog"  class="ui-dialog" aria-labelledby="myAlertLable" aria-hidden="true">
    <div class="js-dialog-content ui-alert">
        <div class="ui-alert-header"><h3 class="ui-alert-title"></h3></div>
        <div class="ui-alert-body" role="note"><p></p></div>
        <div class="ui-alert-footer">
            <!-- 尽量避免使用 button 元素，在小米上是会有点击高亮边框 -->
        </div>
    </div>
</div>

<div id="emptyAddressAlert" role="alertdialog"  class="ui-dialog" aria-labelledby="myAlertLable" aria-hidden="true">
    <div class="js-dialog-content ui-alert">
        <div class="ui-alert-header"><h3 class="ui-alert-title">地址不能为空</h3></div>
        <div class="ui-alert-body" role="note"><p>您还没有添加地址，请先添加地址</p></div>
        <div class="ui-alert-footer">
            <!-- 尽量避免使用 button 元素，在小米上是会有点击高亮边框 -->
            <a data-dismiss="dialog" role="button" class="ui-alert-button">确定</a>
        </div>
    </div>
</div>

<div id="changeCartActionsheet" role="dialog" class="ui-dialog" aria-labelledby="changeCartActionsheetLable" aria-hidden="true">
    <div class="js-dialog-content ui-actionsheet">
        <ul>
            <!-- <li role="button" id="as_cart_change_num" data-dismiss="dialog">修改数量</li> -->
            <!-- <li role="button" id="as_cart_move_collect" data-dismiss="dialog">移至收藏</li> -->
            <li role="button" id="as_cart_delete" data-dismiss="dialog">删除商品</li>
            <li role="button" id="as_cart_view_detail" data-dismiss="dialog">查看详情</li>
        </ul>
        <a role="button" data-dismiss="dialog" class="ui-actionsheet-cancel">取消</a>
    </div>
</div>

<div id="addressActionsheet" role="dialog" class="ui-dialog" aria-labelledby="addressActionsheetLable" aria-hidden="true">
    <div class="js-dialog-content ui-actionsheet">
        <ul>
            <li role="button" data-action="setDefault" data-dismiss="dialog">设为默认</li>
            <li role="button" data-action="delete" data-dismiss="dialog">删除地址</li>
        </ul>
        <a role="button" data-dismiss="dialog" class="ui-actionsheet-cancel">取消</a>
    </div>
</div>

<!-- /对话类内容 -->

<script data-main="js/index" src="js/require.js"></script>
<script type="text/javascript">
    //隐藏右上角按钮
    //==============================
    function onBridgeReady(){
     WeixinJSBridge.call('hideOptionMenu');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }    
    //隐藏底部栏
    function onBridgeReady(){
       WeixinJSBridge.call('hideToolbar');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }    



</script>

<% include layoutBottom %>